<header class="container">
    <div class="header-principal">
        <img src="../../assets/LogoArgentinaPrograma.png">
        <h1>#YoProgramo</h1>
        <div class="container">
          <button class="btn"><p>Iniciar sesión</p></button>
            <i class="bi bi-instagram"></i>
            <a href="https://www.linkedin.com/in/santiago-javier-gomez-a22188216/"><i class="bi bi-linkedin"></i></a>
        </div>
    </div>
    <div class="header-banner" #hooola>
        <div class="banner-container">
            <img class="banner" src="../../assets/fondo-banner-naranja.jpg" alt="Banner aleatorio">
            <h2>Santiago Javier Gomez</h2>
            <div class="container">
                <img id="foto-perfil" src="../../assets/IMG_20220911_232107686_HDR.jpg" alt="Foto de perfil" #fotoPerfil>
                <i class="bi bi-pencil-square pointer" (click)="abrirModal()"></i>
            </div>
        </div>
    </div>
</header>
