<router-outlet></router-outlet>
<app-header></app-header>
<main>
  <section class="container">
    <div class="container acerca-de">
      <div class="titulo">
        <h2>Acerca de</h2>
        <i class="bi bi-pencil-square pointer"></i>
      </div>
      <p>Mi nombre es Santiago, tengo 24 años, soy de Rosario, Argentina y actualmente soy estudiante de desarrollo web.</p>
    </div>
    <div class="container">
      <h3>Intereses</h3>
    </div>
  </section>
  <section class="container">
    <div class="container experiencia">
      <div class="titulo">
        <h2>Experiencia</h2>
        <i class="bi bi-pencil-square pointer"></i>
      </div>
      <div class="container">?</div>
    </div>
  </section>
  <section class="container educacion">
    <div class="container">
      <div class="titulo">
        <h2>Educación</h2>
        <i class="bi bi-pencil-square pointer"></i>
      </div>
      <div class="container">?</div>
    </div>
  </section>
  <section class="container">    
    <app-skills></app-skills>
  </section>
  <section class="container">
    <div class="container proyectos">
      <div class="titulo">
        <h2>Proyectos</h2>
        <div class="container">
          <i class="bi bi-plus-square pointer"></i>
          <i class="bi bi-pencil-square pointer"></i>
        </div>
      </div>
    </div>
  </section>
</main>