<header class="container">
  <h1>Santiago Gomez</h1>
  <div class="container">
    <i class="bi bi-instagram"></i>
    <i class="bi bi-linkedin"></i>
  </div>
</header>

<main>
  <section class="container">
    <div class="container perfil">
      <img src="" alt="imagen perfil" />
      <h2>Santiago Gomez</h2>
      <h4>Descripción</h4>
      <h4>Rosario, Argentina.</h4>
    </div>
  </section>
  <section class="container">
    <div class="container acerca-de">
      <div class="titulo">
        <h2>Acerca de</h2>
        <i class="bi bi-pencil-square pointer"></i>
      </div>
      <p>Mi nombre es Santiago, tengo 24 años, soy de Rosario, Argentina y actualmente soy estudiante de desarrollo web.</p>
    </div>
    <div class="container">
      <h2>Intereses</h2>
    </div>
  </section>
  <section class="container">
    <div class="container experiencia">
      <div class="titulo">
        <h2>Experiencia</h2>
        <i class="bi bi-pencil-square pointer"></i>
      </div>
      <div class="container">?</div>
      <h2>Educación</h2>
      <div class="container">?</div>
    </div>
  </section>
  <section class="container">    
    <app-skills></app-skills>
  </section>
  <section class="container">
    <div class="container proyectos">
      <div class="titulo">
        <h2>Proyectos</h2>
        <div class="container">
          <i class="bi bi-plus-square pointer"></i>
          <i class="bi bi-pencil-square pointer"></i>
        </div>
      </div>
    </div>
  </section>
</main>
